---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=apikey&t=Some%20Like%20It%20Hot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 10:52:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Some Like It Hot","Year":"1959","Rated":"Passed","Released":"19
        Mar 1959","Runtime":"121 min","Genre":"Comedy, Music, Romance","Director":"Billy
        Wilder","Writer":"Billy Wilder (screenplay), I.A.L. Diamond (screenplay),
        Robert Thoeren (suggested by a story by), Michael Logan (suggested by a story
        by)","Actors":"Marilyn Monroe, Tony Curtis, Jack Lemmon, George Raft","Plot":"After
        two male musicians witness a mob hit, they flee the state in an all-female
        band disguised as women, but further complications set in.","Language":"English","Country":"USA","Awards":"Won
        1 Oscar. Another 14 wins & 15 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BNzAyOGIxYjAtMGY2NC00ZTgyLWIwMWEtYzY0OWQ4NDFjOTc5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.2/10"},{"Source":"Rotten Tomatoes","Value":"95%"},{"Source":"Metacritic","Value":"98/100"}],"Metascore":"98","imdbRating":"8.2","imdbVotes":"248,863","imdbID":"tt0053291","Type":"movie","DVD":"26
        Sep 2016","BoxOffice":"N/A","Production":"United Artists, Ashton Productions,
        Mirisch Company","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 14:24:15 GMT
recorded_with: VCR 5.1.0
