---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=apikey&t=The%20Godfather
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 10:30:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"The Godfather","Year":"1972","Rated":"R","Released":"24 Mar
        1972","Runtime":"175 min","Genre":"Crime, Drama","Director":"Francis Ford
        Coppola","Writer":"Mario Puzo (screenplay by), Francis Ford Coppola (screenplay
        by), Mario Puzo (based on the novel by)","Actors":"Marlon Brando, Al Pacino,
        James Caan, Richard S. Castellano","Plot":"An organized crime dynasty''s aging
        patriarch transfers control of his clandestine empire to his reluctant son.","Language":"English,
        Italian, Latin","Country":"USA","Awards":"Won 3 Oscars. Another 29 wins &
        30 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"9.2/10"},{"Source":"Rotten Tomatoes","Value":"97%"},{"Source":"Metacritic","Value":"100/100"}],"Metascore":"100","imdbRating":"9.2","imdbVotes":"1,666,752","imdbID":"tt0068646","Type":"movie","DVD":"01
        Aug 2013","BoxOffice":"$134,966,411","Production":"Paramount Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 10:30:34 GMT
[...]
